<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{672,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,582}}</string>
                <key>sourceSize</key>
                <string>{672,582}</string>
            </dict>
            <key>intro_loader_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,425},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>intro_loader_fill_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,410},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>intro_loader_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1},{545,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,28}}</string>
                <key>sourceSize</key>
                <string>{545,28}</string>
            </dict>
            <key>intro_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1},{321,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,221}}</string>
                <key>sourceSize</key>
                <string>{321,221}</string>
            </dict>
            <key>intro_logo_apollogames.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,324},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>intro_paging_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,324},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>intro_paging_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,374},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>intro_screen.png</string>
            <key>size</key>
            <string>{927,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:619e638b7ea201336468a5b1adbb2e1c:64d5e61e26c9f1116cae5e3aed389dd1:4140e6356082059e0031149df5786e00$</string>
            <key>textureFileName</key>
            <string>intro_screen.png</string>
        </dict>
    </dict>
</plist>
