<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1268,636}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{1268,636}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bg_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1},{1022,647}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{1022,647}}</string>
                <key>sourceSize</key>
                <string>{1042,659}</string>
            </dict>
            <key>bg_sparkles_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,505},{576,396}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{576,396}}</string>
                <key>sourceSize</key>
                <string>{612,420}</string>
            </dict>
            <key>bg_sparkles_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1},{502,690}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{502,690}}</string>
                <key>sourceSize</key>
                <string>{504,720}</string>
            </dict>
            <key>bg_sparkles_RB.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,639},{422,352}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{422,352}}</string>
                <key>sourceSize</key>
                <string>{424,368}</string>
            </dict>
            <key>bg_sparkles_RT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,639},{838,378}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{838,378}}</string>
                <key>sourceSize</key>
                <string>{840,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_jackpot2.png</string>
            <key>size</key>
            <string>{2611,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e36075c0b2814001bb50a44c2de9997:aa197c403003d044258fe7ecf5da6f83:2c65623d68abb26f57e3804bddc2570e$</string>
            <key>textureFileName</key>
            <string>game_jackpot2.png</string>
        </dict>
    </dict>
</plist>
