<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>display_bg_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{784,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{784,178}}</string>
                <key>sourceSize</key>
                <string>{792,188}</string>
            </dict>
            <key>display_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{784,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{784,178}}</string>
                <key>sourceSize</key>
                <string>{792,188}</string>
            </dict>
            <key>display_bg_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{784,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{784,178}}</string>
                <key>sourceSize</key>
                <string>{792,188}</string>
            </dict>
            <key>display_bg_univerzal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,735},{784,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{784,178}}</string>
                <key>sourceSize</key>
                <string>{792,188}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{946,192}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{946,192}}</string>
                <key>sourceSize</key>
                <string>{960,204}</string>
            </dict>
            <key>title_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,195},{190,174}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{190,174}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_A_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1},{202,186}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{202,186}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,381},{152,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,21},{152,178}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_C_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,189},{166,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{166,190}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,381},{174,168}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{174,168}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_J_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,387},{186,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{186,180}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,759},{154,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{154,174}}</string>
                <key>sourceSize</key>
                <string>{208,224}</string>
            </dict>
            <key>title_K_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,191},{166,188}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{166,188}}</string>
                <key>sourceSize</key>
                <string>{208,224}</string>
            </dict>
            <key>title_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,729},{166,170}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{166,170}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_O_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,575},{180,182}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{180,182}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,727},{130,174}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{130,174}}</string>
                <key>sourceSize</key>
                <string>{196,224}</string>
            </dict>
            <key>title_P_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1},{144,188}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{144,188}}</string>
                <key>sourceSize</key>
                <string>{196,224}</string>
            </dict>
            <key>title_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,561},{152,164}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{152,164}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
            <key>title_T_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,551},{164,176}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{164,176}}</string>
                <key>sourceSize</key>
                <string>{236,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_jackpot1.png</string>
            <key>size</key>
            <string>{1298,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964b41af97335f60c75776f62bd0ae06:fbe3f214cb461b74b2a8fd419623184a:fb6be819c05af1b8f6b6db8ede5e9c0a$</string>
            <key>textureFileName</key>
            <string>game_jackpot1.png</string>
        </dict>
    </dict>
</plist>
