<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_fg_left.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1217,904},{472,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,559}}</string>
                <key>sourceSize</key>
                <string>{472,559}</string>
            </dict>
            <key>bonus_fg_right.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{739,904},{476,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,559}}</string>
                <key>sourceSize</key>
                <string>{476,559}</string>
            </dict>
            <key>bonus_fg_top.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1684,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1684,901}}</string>
                <key>sourceSize</key>
                <string>{1684,901}</string>
            </dict>
            <key>bonus_reels_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,904},{736,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,559}}</string>
                <key>sourceSize</key>
                <string>{736,559}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameBigwinBonus1.jpg</string>
            <key>size</key>
            <string>{1690,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5d7f90a128bc0ed320bd434c0b6434e:d72501aa47c333a2e942b1287c88d878:40a8c162877b15e02a718b8e72e87cf5$</string>
            <key>textureFileName</key>
            <string>gameBigwinBonus1.jpg</string>
        </dict>
    </dict>
</plist>
