<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slowdown_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,562},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,563},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1124},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,563},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1125},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1125},{144,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,560}}</string>
                <key>sourceSize</key>
                <string>{144,560}</string>
            </dict>
            <key>slowdown_bg_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{146,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{146,559}}</string>
                <key>sourceSize</key>
                <string>{176,559}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSlowDown.png</string>
            <key>size</key>
            <string>{440,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59c837e3577c399d3d0f55cd7b051a1:c4bcd6e0a01926ac1ebd1aef7761bdb6:85800c750d47c92ba70c543e4999b760$</string>
            <key>textureFileName</key>
            <string>gameSlowDown.png</string>
        </dict>
    </dict>
</plist>
