<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mystery_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,883},{108,30}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,142},{108,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_feathers_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,647},{142,76}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,71},{142,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_feathers_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,527},{64,98}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,54},{64,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,185},{158,62}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,123},{158,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title m_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,961},{30,34}}</string>
                <key>offset</key>
                <string>{-52,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,170},{30,34}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title s_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,569},{22,40}}</string>
                <key>offset</key>
                <string>{-12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,168},{22,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title t_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1035},{20,40}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,169},{20,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title y1_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,569},{22,36}}</string>
                <key>offset</key>
                <string>{-31,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,170},{22,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,927},{134,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,165},{134,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_e_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,667},{18,42}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,166},{18,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_e_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,883},{16,38}}</string>
                <key>offset</key>
                <string>{19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,170},{16,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_m_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1063},{34,38}}</string>
                <key>offset</key>
                <string>{-51,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,166},{34,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_r_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,179},{24,40}}</string>
                <key>offset</key>
                <string>{34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,166},{24,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_r_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,923},{22,36}}</string>
                <key>offset</key>
                <string>{35,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,170},{22,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_s_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,321},{22,42}}</string>
                <key>offset</key>
                <string>{-12,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,166},{22,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_t_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1081},{20,44}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,165},{20,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_y1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,221},{24,40}}</string>
                <key>offset</key>
                <string>{-30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,166},{24,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_y2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1103},{28,32}}</string>
                <key>offset</key>
                <string>{53,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,168},{28,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_title_y2_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1111},{24,30}}</string>
                <key>offset</key>
                <string>{55,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,170},{24,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mystery_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1063},{50,46}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,97},{50,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bar_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,647},{158,136}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{158,136}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>symbol_bar_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,931},{158,76}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{158,76}}</string>
                <key>sourceSize</key>
                <string>{168,88}</string>
            </dict>
            <key>symbol_bar_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,345},{168,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{168,146}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>symbol_bonus_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1},{176,184}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{176,184}}</string>
                <key>sourceSize</key>
                <string>{188,208}</string>
            </dict>
            <key>symbol_bonus_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,791},{150,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{150,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,391},{176,102}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{176,102}}</string>
                <key>sourceSize</key>
                <string>{188,108}</string>
            </dict>
            <key>symbol_bonus_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,467},{140,136}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,66},{140,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_dots.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,369},{156,98}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{156,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,769},{176,184}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{176,184}}</string>
                <key>sourceSize</key>
                <string>{188,208}</string>
            </dict>
            <key>symbol_bonus_title_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,593},{50,52}}</string>
                <key>offset</key>
                <string>{-46,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,149},{50,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,781},{144,68}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,143},{144,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_bg_rays.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,781},{144,68}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,143},{144,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,743},{138,60}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,148},{138,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,899},{26,32}}</string>
                <key>offset</key>
                <string>{14,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,164},{26,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1035},{26,28}}</string>
                <key>offset</key>
                <string>{-11,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,165},{26,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,887},{114,42}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,166},{114,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_title_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,263},{32,24}}</string>
                <key>offset</key>
                <string>{40,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,168},{32,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_bonus_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{188,194}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{188,194}}</string>
                <key>sourceSize</key>
                <string>{188,208}</string>
            </dict>
            <key>symbol_cherry_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,617},{134,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{134,124}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>symbol_cherry_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1063},{134,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{134,72}}</string>
                <key>sourceSize</key>
                <string>{144,84}</string>
            </dict>
            <key>symbol_cherry_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,635},{144,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>symbol_grape_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,745},{154,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{154,146}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>symbol_grape_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1053},{154,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{154,82}}</string>
                <key>sourceSize</key>
                <string>{160,88}</string>
            </dict>
            <key>symbol_grape_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,493},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>symbol_lemon_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1009},{140,122}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{140,122}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
            <key>symbol_lemon_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,933},{138,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{138,70}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>symbol_lemon_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,179},{150,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,132}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
            <key>symbol_melon_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,495},{142,138}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{142,138}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>symbol_melon_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,609},{142,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{142,78}}</string>
                <key>sourceSize</key>
                <string>{152,88}</string>
            </dict>
            <key>symbol_melon_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,933},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>symbol_mystery_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,955},{180,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{180,176}}</string>
                <key>sourceSize</key>
                <string>{188,192}</string>
            </dict>
            <key>symbol_mystery_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,189},{178,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{178,98}}</string>
                <key>sourceSize</key>
                <string>{188,100}</string>
            </dict>
            <key>symbol_mystery_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1},{180,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{180,176}}</string>
                <key>sourceSize</key>
                <string>{188,192}</string>
            </dict>
            <key>symbol_mystery_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{188,186}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,186}}</string>
                <key>sourceSize</key>
                <string>{188,192}</string>
            </dict>
            <key>symbol_mystery_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{186,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{186,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_orange_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,345},{134,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{134,148}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>symbol_orange_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,899},{134,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{134,82}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>symbol_orange_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,893},{144,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>symbol_plum_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,179},{144,140}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{144,140}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>symbol_plum_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,743},{142,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{142,78}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>symbol_plum_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,593},{154,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,150}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>symbol_seven_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,321},{144,134}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{144,134}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>symbol_seven_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,753},{144,74}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{144,74}}</string>
                <key>sourceSize</key>
                <string>{156,80}</string>
            </dict>
            <key>symbol_seven_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,785},{154,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,144}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>symbol_wild_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{188,182}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{188,182}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
            <key>symbol_wild_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,185},{168,158}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{168,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_wild_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,195},{188,100}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{188,100}}</string>
                <key>sourceSize</key>
                <string>{208,102}</string>
            </dict>
            <key>symbol_wild_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,313},{114,86}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{114,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_wild_earring.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,617},{18,48}}</string>
                <key>offset</key>
                <string>{24,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,134},{18,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_wild_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1081},{114,54}}</string>
                <key>offset</key>
                <string>{12,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,158},{114,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_wild_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,401},{106,112}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,93},{106,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_wild_head_wink.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,509},{106,112}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,93},{106,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>symbol_wild_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,579},{188,182}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{188,182}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
            <key>symbol_wild_title_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1073},{70,52}}</string>
                <key>offset</key>
                <string>{33,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,123},{70,52}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
            <key>symbol_wild_title_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1003},{76,58}}</string>
                <key>offset</key>
                <string>{33,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,120},{76,58}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
            <key>symbol_wild_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{198,192}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{198,192}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSymbols.png</string>
            <key>size</key>
            <string>{950,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8ef4d8d64069d66cf2d9bd5a080e42:c3d71d6cf037c9ed5a208cf815bb2e7a:bc563697395ce091d379550acba6f4f6$</string>
            <key>textureFileName</key>
            <string>gameSymbols.png</string>
        </dict>
    </dict>
</plist>
