<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glow_simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,272},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>particle_bg_circle_bonus_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,363},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>particle_bg_circle_bonus_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1267},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>particle_bg_circle_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,446},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>particle_bg_circle_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1407},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>particle_frames_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1263},{257,167}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,47},{257,167}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>particle_frames_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,981},{185,141}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{185,141}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>particle_frames_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,762},{217,179}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{217,179}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>particle_frames_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1424},{247,163}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{247,163}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>particle_frames_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1167},{255,233}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{255,233}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>particles_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{445,269}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{445,269}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,561},{421,281}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{421,281}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1},{445,269}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{445,269}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,762},{403,261}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,1},{403,261}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{449,287}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{449,287}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,272},{415,245}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{415,245}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_sub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1281},{377,269}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{377,269}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_sub_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,844},{417,243}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{417,243}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_sub_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,519},{411,241}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{411,241}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>particles_sub_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,844},{435,267}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{435,267}}</string>
                <key>sourceSize</key>
                <string>{485,307}</string>
            </dict>
            <key>win_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1124},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameFx.png</string>
            <key>size</key>
            <string>{964,1588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f4f1e091d4756dd67ca07ded274f2d5:1cd5b32c6db53f483bbeeaa9a79b63f4:2d14d0efd6653412fc23cbf5a05601d0$</string>
            <key>textureFileName</key>
            <string>gameFx.png</string>
        </dict>
    </dict>
</plist>
