<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigwin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,811},{662,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,391}}</string>
                <key>sourceSize</key>
                <string>{662,391}</string>
            </dict>
            <key>bigwin_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{671,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,436}}</string>
                <key>sourceSize</key>
                <string>{671,436}</string>
            </dict>
            <key>bigwin_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,645},{412,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,161}}</string>
                <key>sourceSize</key>
                <string>{412,161}</string>
            </dict>
            <key>bonus_frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,238},{714,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{714,90}}</string>
                <key>sourceSize</key>
                <string>{714,96}</string>
            </dict>
            <key>bonus_frame_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,876},{73,709}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{73,709}}</string>
                <key>sourceSize</key>
                <string>{113,715}</string>
            </dict>
            <key>bonus_frame_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,951},{73,709}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,709}}</string>
                <key>sourceSize</key>
                <string>{113,715}</string>
            </dict>
            <key>bonus_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,330},{714,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{714,90}}</string>
                <key>sourceSize</key>
                <string>{714,96}</string>
            </dict>
            <key>game_frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,692},{714,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{714,90}}</string>
                <key>sourceSize</key>
                <string>{714,96}</string>
            </dict>
            <key>game_frame_highlight_0_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,329},{274,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{274,58}}</string>
                <key>sourceSize</key>
                <string>{274,78}</string>
            </dict>
            <key>game_frame_highlight_0_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,645},{98,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,357}}</string>
                <key>sourceSize</key>
                <string>{98,357}</string>
            </dict>
            <key>game_frame_highlight_0_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1},{98,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,357}}</string>
                <key>sourceSize</key>
                <string>{98,357}</string>
            </dict>
            <key>game_frame_highlight_0_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,329},{274,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{274,60}}</string>
                <key>sourceSize</key>
                <string>{274,78}</string>
            </dict>
            <key>game_frame_highlight_1_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,758},{274,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{274,58}}</string>
                <key>sourceSize</key>
                <string>{274,78}</string>
            </dict>
            <key>game_frame_highlight_1_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1059},{98,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,357}}</string>
                <key>sourceSize</key>
                <string>{98,357}</string>
            </dict>
            <key>game_frame_highlight_1_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,605},{98,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,357}}</string>
                <key>sourceSize</key>
                <string>{98,357}</string>
            </dict>
            <key>game_frame_highlight_1_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,482},{274,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{274,60}}</string>
                <key>sourceSize</key>
                <string>{274,78}</string>
            </dict>
            <key>game_frame_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1026},{73,709}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{73,709}}</string>
                <key>sourceSize</key>
                <string>{113,715}</string>
            </dict>
            <key>game_frame_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1101},{73,709}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,709}}</string>
                <key>sourceSize</key>
                <string>{113,715}</string>
            </dict>
            <key>game_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,784},{714,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{714,90}}</string>
                <key>sourceSize</key>
                <string>{714,96}</string>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,422},{321,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,221}}</string>
                <key>sourceSize</key>
                <string>{321,221}</string>
            </dict>
            <key>gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,360},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>logo_apollo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,964},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>reels_light_stripe.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1176},{666,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,25}}</string>
                <key>sourceSize</key>
                <string>{666,25}</string>
            </dict>
            <key>switchscreen_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{843,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,370}}</string>
                <key>sourceSize</key>
                <string>{843,370}</string>
            </dict>
            <key>switchscreen_title_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,422},{591,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,268}}</string>
                <key>sourceSize</key>
                <string>{591,268}</string>
            </dict>
            <key>switchscreen_title_bonuswin.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1},{685,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,235}}</string>
                <key>sourceSize</key>
                <string>{685,235}</string>
            </dict>
            <key>win_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,186},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>win_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,373},{126,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,16}}</string>
                <key>sourceSize</key>
                <string>{126,16}</string>
            </dict>
            <key>win_sparkles.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1},{197,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,183}}</string>
                <key>sourceSize</key>
                <string>{197,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameBigwinBonus.png</string>
            <key>size</key>
            <string>{1831,1203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3fad7d96c70742f4d46a288a0ee75f:8b4b07458e163188fdc4c10f2343fc1f:cde49b4c05cbf63360c67bcf1c0653c1$</string>
            <key>textureFileName</key>
            <string>gameBigwinBonus.png</string>
        </dict>
    </dict>
</plist>
