<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>switchscreen_bg_middle.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,904},{1684,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1684,559}}</string>
                <key>sourceSize</key>
                <string>{1684,559}</string>
            </dict>
            <key>switchscreen_bg_top.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1684,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1684,901}}</string>
                <key>sourceSize</key>
                <string>{1684,901}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>switchScreen.jpg</string>
            <key>size</key>
            <string>{1686,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96d0a1ad473315dd9d11b3c552b1740:341e10f718f0a966e6d6612307896f32:c9b4617359846b1084c1d29272e442c0$</string>
            <key>textureFileName</key>
            <string>switchScreen.jpg</string>
        </dict>
    </dict>
</plist>
